/* GENERAL CSS */

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: "Open Sans", sans-serif;
}

.contact-image {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-image > img {

    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}

.hide {

    display: none;
}

/* MAIN */

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, #009688 calc(160px - 3vh), #D8DBD5 13%);
}

#app.wrapper-web {

    height: 95vh;
    position: relative;
    width: 90%;
    background-color: #f8f9fa; 
    box-shadow: 0 0 4px #676767;
    display: flex;
}

/* SIDEBAR MENU */

.sidebar-menu {

    
    background-color: #ffffff;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ececec;
}

/* SIDEBAR MENU NAV-LINKS */

.menu-nav-links {

    background-color: #ededed;
}

.nav-links {

    height: 60px;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #919191;
}

.nav-links #profile-image {

    flex-grow: 1;
}

#profile-image > .contact-image {

    width: 40px;
    height: 40px;
}

.nav-links > * {

    margin: 0px 10px;
}

/* SIDEBAR MENU SEARCH */

.wrapper-search-bar {

    height: 60px;
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;  
}

.wrapper-search-bar > .wrapper-icon {

    background-color: #FFF;
    padding: 10px;
    font-size: 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #919191;
}

.wrapper-search-bar > #text-filter-chat {

    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #919191;
    border: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#text-filter-chat:focus {

    outline: 0;
}


/* SIDEBAR CHATS LIST */

.wrapper-contacts {

    list-style-type: none;
}

.wrapper-contacts > .chat-preview {

    display: flex;
    align-items: center;
    height: 70px;
}

.wrapper-contacts > .chat-preview:hover {

    background-color: #f5f5f5;
}

.wrapper-contacts > .chat-preview.active {

    background-color: #ebebeb;
}

.chat-preview > .contact-image {
    margin-left: 20px;
}

.chat-preview > .contact-preview {

    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    border-bottom: 1px solid #ededed;
}


.contact-preview > .contact-chat {
    flex-grow: 1;
    font-weight: 300;
}

.contact-preview > .date-preview {

    font-weight: 300;
    margin: 5px;
    font-size: 12px;
    align-self: flex-start;
}

.contact-chat > .contact-name {

    font-weight: 400; 
}

/* SIDEBAR PROFILE */

#profile-heading {

    height: 120px;
    background-color: #00bfa5;
    color: #FFF;
    display: flex;
    align-items: flex-end;
}

#profile-heading .heading-wrapper {

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.heading-wrapper > h3 {

    font-weight: 400;
    margin-left: 20px;
}

.wrapper-profile-image {


    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.wrapper-profile-image > .contact-image {

    width: 200px;
    height: 200px;
}

.wrapper-profile-image > .contact-image > img {

    width: inherit;
    height: inherit
}

#profile-name, #profile-status {

    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #919191;
}

#profile-name span, #profile-status span {
    
    color: #00bfa5;
}

#profile-name-text, #profile-status-text {

    border: 0;
    width: 90%;
    padding: 10px;
    font-size: 16px;

}

#profile-status-text.onfocus, #profile-name-text.onfocus {

    border-bottom: 2px solid #00bfa5;
}

#profile-name-text:focus, #profile-status-text:focus {

    outline: 0;
}

/* CHAT */

.wrapper-chats {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* INTRO (NO ACTIVE CHAT) */

.wrapper-chats.empty {
    
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #4adf83;
}

.wrapper-chats.empty > .wrapper-intro {
    
    max-width: 460px;
    text-align: center;
    color: #919191;
    font-size: 14px;
}

.wrapper-intro > img {
    
    max-width: 250px;
}

.wrapper-intro > h2 {
    
    font-size: 32px;
    font-weight: 300;
    padding: 10px;
    color: #525252;
}

.wrapper-intro > #download-link {
    
    border-top: 1px solid #ededed;
    margin-top: 30px;
    padding-top: 30px;
}

.wrapper-intro > #download-link a {
    
    color: #25c361; /* #4adf83 */
    text-decoration: none;
}

/* ACTIVE CHAT */

.wrapper-chats > .chat-bar {

    background-color: #ededed;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.chat-bar.top-bar {
    
    border-left: 1px solid #e1e1e1;
}

.chat-bar.top-bar > .user-info {

    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding: 0 20px;
    color: #919191;
} 

.user-info > .contact-image {

    width: 40px;
    height: 40px;
}

.user-info > .contact-name {

    color: #222;
    flex-grow: 1;
}

.user-info > * {

    margin: 0 10px;
}

.wrapper-chats > .messages {

    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image: url("../img/doodle-wallpaper.png");
    background-size: 50%;
    background-repeat: repeat-x;
}

.message {
    
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 120px;
    max-width: 250px;
    display: flex;
    /* longer words break */
    word-break: break-word; 
}

.message.received {

    align-self: flex-start;
    background-color: #FFF;
}

.message.sent {

    align-self: flex-end;
    background-color: #dcf8c6;
}

.wrapper-message-infos {

    min-width: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.message-hour {

    font-size: 10px;
    text-align: center;
}



.fa-chevron-down {

    display: none;
}

.fa-chevron-down.active {
    
    display: inline-block;
    align-self: flex-start;
}

.message-info {

    font-size: 15px;
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 2;
    transform: scale(0,0);
    width: 150px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 4px #676767;
    visibility: hidden;
    transition: all .2s;
}

.message-info ul {

    list-style-type: none;
}

.message-info.active {

    visibility: visible;
    transform: scale(1,1);
}

.wrapper-chats .chat-actions {

    list-style-type: none;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    font-size: 25px;
    color: #919191;
}

.chat-actions > * {

    margin: 20px;
}

.chat-actions #wrapper-message-box {

    flex-grow: 1;
}

#wrapper-message-box input[type="text"] {

    width: 100%;
    border: 0;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 20px;
}

#wrapper-message-box input[type="text"]:focus {

    outline: 0;
}

#send-message {

    width: 25px;
    height: 25px;
}

#wrapper-send-message {
    
    display: flex;
    align-items: center;
}

/* test menu transition */

.intro-tab {

    position: relative;
}

.profile-tab {

    position: absolute;
    width: 30%;
}


.slide-enter-active {
    animation: slide-in .1s;
  }
  .slide-leave-active {
    animation: slide-in .1s reverse;
  }

  @keyframes slide-in {

    0% {
      width: 0%;
    }

    25% {

        width: 7.5%;
    }

    50% {
      width: 15%;
    }

    75% {

        width: 22.5%;
    }

    100% {
      width: 30%;
    }
  }



 /* .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s ease-in-out;
  }

  .slide-fade-leave-active {

    display: none;
  }

  .slide-fade-enter, .slide-fade-leave-to {

    opacity: 0;
  }

  .slide-fade-enter-to, .slide-fade-leave {

    opacity: 1;
  } */


 